@charset "UTF-8";

@font-face {
font-family: 'SegoeUILight';
src: url('../fonts/SegoeUILight.woff') format('opentype');
}
@font-face {
font-family: 'SegoeUISemiBold';
src: url('../fonts/SegoeUISemiBold.woff') format('opentype');
}
@font-face {
font-family: 'SegoeUIRegular';
src: url('../fonts/SegoeUIRegular.woff') format('opentype');
}
body{
  font-family:'SegoeUILight';
  color: #fff;
}
.clear{
  clear: both;
}
.wrapper{
  background: linear-gradient(to top, #0b0b0b, #1f3688);
  background: -webkit-linear-gradient(top, #1f3688 0%,#0b0b0b 100%);
}
.pattern{
  background:url(../images/pattern.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}
.header{
  font-size: 24px;
  text-align: right;
  padding: 24px 48px 0 0;
}
.header__login{
  color: #00cbff;
  cursor: pointer;
}
.logo{
  text-align: center;
  padding: 60px 0 80px 0;
}
.logo__title{
  font-size: 200px;
}
.logo-title-wrapper{
  display: inline-block;
  position: relative;
}
.logo__stick{
  height: 75px;
  width: 75px;
  position: absolute;
  top: 112px;
  left: 142px;
  background: url(../images/stick.png);
  background-size: contain;
  background-position: center;
}
.subtitle__text{
  font-size: 48px;
  text-align: center;
}
.subtitle__text-tofront{
  position: relative;
  z-index: 10;
}
.steps{
  
  width: 960px;
  margin: 0 auto 0 auto;
}
.step{
  text-align: center;
  float: left;
  width: 33.33%;
}
.step__icon_guitar{
  background: url(../images/guitar.png);
}
.step__icon_visualstudio{
  background: url(../images/visualstudio.png);
}
.step__icon_star{
  background: url(../images/star.png);
}
.step__icon{
  display: inline-block;
  width: 103px;
  height: 55px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
}
.step__description{
  display: inline-block;
  padding: auto;
}
.step__number{
  float: left;
  font-size: 24px;
}
.step__text{
  text-align: left;
  font-size: 24px;
  margin: 0 0 0 30px;
}
.stage{
  position: relative;
  height: 700px;
}
.stage__stage-bg{
  background: url(../images/stagebg.png);
  width: 100%;
  height: 1000px;
  background-repeat: no-repeat;
  margin: 0 auto 0 auto;
  position: absolute;
  bottom: 130px;
  background-position: center;
}
.stage-bottom-bg{
  height: 327px;
  width: 100%;
  background: url(../images/bg.png);
  background-repeat: no-repeat;
  position:absolute;
  bottom: 0px;
  background-position: center;
  }
  .stage__clouds{
    position: absolute;
    width: 100%;
    height: 450px;
    background: url(../images/darkcloud.png) center no-repeat;
    background-size: contain;
  }
  .stage__back-cloud-one{
    height: 410px;
    width: 605px;
    background: url(../images/leftcloudback.png) left no-repeat;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
  }
  .stage__front-cloud-one{
    height: 335px;
    width: 580px;
    background: url(../images/leftcloudfront.png)left no-repeat;
    position: absolute;
    left: 0;
    bottom: 40px;
  }
  .stage__back-cloud-two{
    height: 340px;
    width: 1165px;
    background: url(../images/rightcloudfront.png);
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .stage__front-cloud-two{
    height: 280px;
    width: 460px;
    background: url(../images/rightcloudback.png) right no-repeat;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  .stage__center-cloud{
    height: 355px;
    width: 536px;
    background: url(../images/centercloud.png) center no-repeat;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -268px;
    background-size: contain;
  }
  /*Футер*/
  .footer{
    background: #0c0c0f;
    text-align: center;
    padding: 80px 0 80px 0;
    font-size: 18px;
  }
  .footernav{
    width: 960px;
    margin: 0 auto 0 auto;
    font-size: 1rem;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: flex-end;
    padding: 0 60px 0 60px;
  }
  .footerproducts{
    width: 960px;
    margin: 0 auto 0 auto;
    font-size: 1rem;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: flex-end;
    }
  .footer__product{
    margin-top: 35px;
    height: 25px;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
  }
  




 

